<footer class="bg-blueCap-100 w-full flex flex-col items-center justify-center p-12">
  <p class="max-w-7xl text-sm text-justify text-black hidden lg:flex justify-center items-center">
    *Com contribuição única na data indicada, o título Cap Fiador 12 Plus concorre a 1 (um) prêmio
    de 2 (duas) vezes o pagamento único, em sorteio mensal realizado no primeiro sábado de cada mês.
    | Com contribuição única na data indicada, o título Cap Fiador 15 meses concorre a 1 (um) prêmio
    de 23,47 vezes o pagamento único, em sorteio mensal realizado na primeira quarta-feira de cada
    mês. | Com contribuição única na data indicada, o título Cap Fiador 30 meses concorre a 1 (um)
    prêmio de 23,8096 vezes o pagamento único, em sorteio mensal realizado na primeira quarta-feira
    de cada mês. Para manutenção do título, o subscritor deve realizar a contribuição única. É
    proibida a venda de título de capitalização a menores de dezesseis anos. Valores das premiações
    múltiplos do valor pago pelo título, sujeitos à retenção de IR na fonte, conforme legislação em
    vigor. Produtos de contribuição única, com vigência de 12 (doze) meses (Cap Fiador 12 Plus), 15
    (quinze) meses (Cap Fiador 15 meses) e 30 (trinta) meses (Cap Fiador 30 meses) da modalidade
    Instrumento de Garantia, da Brasilcap Capitalização S.A. CNPJ 15.138.043/0001-05. Processos
    SUSEP: Cap Fiador 12 Plus 15414.901713/2018-35, Cap Fiador 15 meses 15414.901727/2018-59 e Cap
    Fiador 30 meses 15414.901714/2018-80. O saldo para resgate antecipado ou final será proporcional
    ao valor pago pelo título, respeitando o percentual previsto na tabela de resgate das Condições
    Gerais. Os valores de resgate e de sorteio deverão ser pleiteados pelo titular dentro do prazo
    prescricional, conforme legislação vigente. O valor estará disponível para resgate total desde o
    primeiro mês do início de vigência. Caso os valores não sejam resgatados dentro do prazo
    prescricional, o titular do direito de resgate e/ou do direito de sorteio perderá esse direito.
    As quotas destinadas à capitalização e aos sorteios dos produtos são de, respectivamente,
    94,1905% e 0,0741% Cap Fiador 12 Plus, 93,49% e 0,34% Cap Fiador 15 meses e 87,40% e 0,6651% Cap
    Fiador 30 meses. Antes de contratar, consulte previamente as Condições Gerais. A Brasilcap
    mantém sua Política de Privacidade e Proteção de Dados disponível para consulta em
  </p>
  <p class="text-black lg:hidden">
    A Brasilcap mantém sua Política de Privacidade e Proteção de Dados disponível para consulta em
  </p>
</footer>
