<div class="collapse collapse-plus bg-white border border-blueCap-300 md:w-130 mb-1">
  <input type="radio" name="my-accordion-3" />
  <div class="collapse-title font-semibold text-black">
    Quais imóveis posso alugar com o Cap Fiador?
  </div>
  <div class="collapse-content text-sm text-black w-100 md:w-130 mb-1">
    O Cap Fiador funciona como garantia para aluguel de imóveis residenciais e comerciais como
    galpões, lojas de rua ou lojas em shoppings centers.
  </div>
</div>
<div class="collapse collapse-plus bg-white border border-blueCap-300 w-100 md:w-130 mb-1">
  <input type="radio" name="my-accordion-3" />
  <div class="collapse-title font-semibold text-black">Como comprar um Cap Fiador?</div>
  <div class="collapse-content text-sm text-black w-100">
    O primeiro passo é escolher o imóvel de deseja alugar de acordo com as suas necessidades;
    depois, busque em nosso site as imobiliárias parceiras em sua região; combine com a imobiliária
    ou proprietário do imóvel o valor da garantia; realize o pagamento do boleto no valor acordo;
    Retire as chaves do seu imóvel e aproveite o seu novo espaço residencial ou comercial.
  </div>
</div>
<div class="collapse collapse-plus bg-white border border-blueCap-300 w-100 md:w-130 mb-1">
  <input type="radio" name="my-accordion-3" />
  <div class="collapse-title font-semibold text-black">Quem pode comprar um Cap Fiador?</div>
  <div class="collapse-content text-sm text-black">
    Tanto pessoa física quanto pessoa jurídica podem adquirir o Cap Fiador, se adequando a todos os
    prazos e os valores de garantia negociados.
  </div>
</div>
