<section class="w-full flex items-center justify-center">
  <form class="w-full flex flex-col items-center justify-center gap-4">
    <input
      type="text"
      class="border border-white p-3 rounded-full w-105 lg:w-160"
      placeholder="Digite seu nome completo"
    />
    <input
      type="text"
      class="border border-white p-3 rounded-full w-105 lg:w-160"
      placeholder="Digite o numero de seu celular"
    />
    <input
      type="text"
      class="border border-white p-3 rounded-full w-105 lg:w-160"
      placeholder="Digite seu cpf - (somente números)"
    />
    <input
      type="text"
      class="border border-white p-3 rounded-full w-105 lg:w-160"
      placeholder="Digite sua Data de Nascimento"
    />
    <input
      type="text"
      class="border border-white p-3 rounded-full w-105 lg:w-160"
      placeholder="Digite seu Estado"
    />
    <input
      type="text"
      class="border border-white p-3 rounded-full w-105 lg:w-160"
      placeholder="Digite seu Email"
    />
    <p class="w-full lg:w-160">
      *Ao clicar em enviar, eu aceito receber informações dos produtos BRASILCAP, de acordo com a
      política de privacidade da empresa.
    </p>
    <button
      class="bg-white text-black w-full lg:w-160 p-2 rounded-full hover:bg-yellowCap-500 hover:scale-105 duration-300"
    >
      Enviar
    </button>
  </form>
</section>
