<section class="bg-blueCap-200 w-full h-120 flex flex-col items-center justify-center p-18 gap-6">
  <h1 class="font-bold text-white text-5xl text-center">Canal de vendas</h1>
  <h3 class="text-white font-semibold text-2xl text-center">
    Procure um de nossos parceiros ou entre em contato através dos telefones:
  </h3>
  <div class="flex flex-col items-center justify-center gap-3 mt-12">
    <h2 class="text-white text-3xl font-bold">Para clientes</h2>
    <h2 class="text-white text-4xl font-bold">0800 729 0800</h2>
  </div>
</section>
<section class="w-full bg-gray-50 h-120 flex flex-col items-center justify-center p-18 gap-12">
  <h1 class="text-4xl text-blueCap-300 font-bold">Redes Socais</h1>
  <div>
    <ul class="flex flex-row items-center justify-center gap-4">
      <li>
        <a href="https://www.facebook.com/Brasilcap/">
          <img src="/assets/svg/facebook.svg" alt="Facebook" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/brasilcapbr">
          <img src="/assets/svg/instagram.svg" alt="Facebook" />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/brasilcap/">
          <img src="/assets/svg/linkedin.svg" alt="Facebook" />
        </a>
      </li>
      <li>
        <a href="https://x.com/Brasilcapbr">
          <img src="/assets/svg/twitter.svg" alt="Facebook" />
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/Brasilcapbr">
          <img src="/assets/svg/youtube.svg" alt="Facebook" />
        </a>
      </li>
    </ul>
  </div>
  <img src="/assets/images/logo.png" alt="CapFiador - Brasilcap" />
</section>
