/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --color-blueCap-100: #71d8c5;
  --color-blueCap-200: #38acbe;
  --color-blueCap-300: #5405c4;

  --color-roseCap-100: #f5506e;
  --color-yellowCap-500: #cdff03;
  --color-purpleCap-100: #976bdb;
}
body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}
