<nav class="bg-white w-full h-26 flex items-center justify-center z-20 fixed">
  <div class="w-full max-w-7xl flex justify-between items-center flex-row">
    <img src="/assets/images/logo.png" alt="" />
    <div class="text-purpleCap-100 font-semibold font-3xl hidden md:flex">
      <ul class="flex flex-row items-center gap-4">
        <li class="hover:text-yellowCap-500 duration-300">
          <a routerLink="/" fragment="Capfiador">O que é Cap Fiador </a>
        </li>
        <li class="hover:text-yellowCap-500 duration-300">
          <a routerLink="/" fragment="Vigencias"> Vigências e Sorteios </a>
        </li>
        <li class="hover:text-yellowCap-500 duration-300">
          <a routerLink="/" fragment="Fazer">Como fazer o Cap Fiador </a>
        </li>
        <li class="hover:text-yellowCap-500 duration-300">
          <a routerLink="/" fragment="Duvidas"> Dúvidas comuns </a>
        </li>
        <li class="hover:text-yellowCap-500 duration-300">
          <a routerLink="/"> Privacidade </a>
        </li>
        <li class="hover:text-yellowCap-500 duration-300">
          <a routerLink="/"> </a>
        </li>
        <li class="hover:text-yellowCap-500 duration-300">
          <a routerLink="/" fragment="Contato"> Contato </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
